<div class="container a">
  <h1>Array List1</h1>
  <p *ngFor="let item of names; let i = index;" (click)="removeItem(i)">{{item}}</p>
</div>
  
<div class="container b">
    <h1>Array List2</h1>
  <p *ngFor="let dd of ddoptions" (click)="replace(i)">
    {{ dd}}
  </p>
  
</div>