.a{
    border: 2px solid black;
    width: 20%;
    margin-top: 20px;
    background-color: red;
    color: white;
}
.b{
    border: 2px solid greenyellow;
    width: 20%;
    margin-left: 316px;
    background-color: bisque;
    color: blue;
}